:root {
  --primary-color: #dc4712;
  --secondary-color: #f1e9e3;
  --tertiary-color: #ee712b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .body {
    margin: 90px 15px;
    padding: 0;
  }
  .body h1 {
    font-size: 40px;
    margin-bottom: 8px;
  }
  .body h2 {
    font-size: 20px;
  }
  body h3 {
    text-align: center;
  }
  .app-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .navigation-links {
    font-size: 17px;
    padding: 0px 0px;
    margin: 15px 0 30px !important;
  }
}

.custom-navbar {
  background-color: var(--secondary-color);
}
.custom-navbar .navbar-brand {
  color: var(--primary-color);
}

.custom-navbar .navbar-nav .nav-link {
  color: var(#fff);
}

.custom-navbar .nav-item:hover .nav-link,
.custom-navbar .nav-item.active .nav-link {
  color: var(--tertiary-color);
}

body {
  padding: 100px 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  margin: 0;
}

body h1 {
  font-size: 96px;
  text-align: center;
}

body h2 {
  font-size: 50px;
  opacity: 0.7;
}

body h3 {
  opacity: 0.9;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);

  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
