:root {
  --primary-color: #dc4712;
  --secondary-color: #f1e9e3;
  --tertiary-color: #ee712b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.custom-navbar {
  background-color: var(--secondary-color);
}
.custom-navbar .navbar-brand {
  color: var(--primary-color);
}

.custom-navbar .nav-item:hover .nav-link,
.custom-navbar .nav-item.active .nav-link {
  color: var(--tertiary-color);
}

body {
  margin: 100px 50px 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--tertiary-color);
}
.hero-title,
.hero-subtitle {
  margin: 0;
}

body .hero-title {
  font-size: 96px;
  text-align: center;
}

body .hero-subtitle {
  font-size: 50px;
  opacity: 0.7;
}

body .projects-heading {
  margin: 20px;
}

p {
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-size: 23px;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);

  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.image-container {
  background-color: var(--secondary-color);
  opacity: 0.9;
  padding: 30px 40px;
  border-radius: 10px;
}
.image-container .project-titles {
  font-size: 16px;
  text-decoration: underline;
  color: #dc4712;
}
.image-container .project-titles:hover {
  cursor: pointer;
}

.image-container img {
  margin: 0px 0 20px;
  border: 5px solid #fff;
  padding: 0;
}
.image-link {
  transition: all 150ms ease-in-out;
}
.image-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.project-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
}
.project-link:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    margin: 100px 30px 50px;
  }
  body .hero-title {
    font-size: 45px;
    margin-bottom: 8px;
  }
  body .hero-subtitle {
    font-size: 20px;
  }
  body .projects-heading {
    text-align: center;
  }
  .navigation-links {
    font-size: 16px;
    padding: 0;
    margin: 35px 0 50px;
  }
  .image-container {
    padding: 40px;
  }
  .image-container .project-titles {
    font-size: 20px;
    text-align: center;
  }
  .image-container img {
    display: none;
  }
  .image-container p {
    text-align: center;
  }
}
